<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daniel.study.springbootmybatis.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.daniel.study.springbootmybatis.entity.User">
        <id column="id" property="id"/>
        <result column="c_user_name" property="userName"/>
        <result column="c_password" property="password"/>
        <result column="c_age" property="age"/>
        <result column="c_company" property="company"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        c_user_name, c_password, c_age,c_company
    </sql>
    <insert id="insert" parameterType="com.daniel.study.springbootmybatis.entity.User" useGeneratedKeys="true"
            keyProperty="id">
    insert into t_user(c_user_name,c_password,c_age,c_company) values
    (#{userName},#{password},#{age},#{company})
  </insert>
</mapper>
